logging:
  level: INFO
  path: ./logs

evaluate: true

model:
  cls:
    _target_: ehr2vec.model.heads.ClassifierGRU
    bidirectional: true

outcome:
  n_hours_censoring: -2190
  n_hours_start_follow_up: 0
  n_hours_end_follow_up: null

trainer_args:
  sampler: false
  sample_weight_function:
    _target_: corebehrt.evaluation.utils.inverse_sqrt
  batch_size: 512
  val_batch_size: 256
  effective_batch_size: 512
  epochs: 1
  info: true
  gradient_clip: 
    clip_value: 1.0
  shuffle: true
  checkpoint_frequency: 1
  early_stopping: 20
  stopping_criterion: roc_auc
  
optimizer:
  lr: 5e-4
  eps: 1e-6

scheduler:
  _target_: transformers.get_linear_schedule_with_warmup
  num_warmup_steps: 10
  num_training_steps: 1000000

metrics:
  accuracy:
    _target_: corebehrt.modules.monitoring.metrics.Accuracy
    threshold: 0.6
  roc_auc:
    _target_: corebehrt.modules.monitoring.metrics.ROC_AUC

  pr_auc:
    _target_: corebehrt.modules.monitoring.metrics.PR_AUC
  precentage_positives:
    _target_: corebehrt.modules.monitoring.metrics.Percentage_Positives

  mean_probability:
    _target_: corebehrt.modules.monitoring.metrics.Mean_Probability
  true_positives:
    _target_: corebehrt.modules.monitoring.metrics.True_Positives

  true_negatives:
    _target_: corebehrt.modules.monitoring.metrics.True_Negatives
  false_positives:
    _target_: corebehrt.modules.monitoring.metrics.False_Positives

  false_negatives:
    _target_: corebehrt.modules.monitoring.metrics.False_Negatives
  
  

 

