logging:
  level: INFO
  path: ./outputs/logs

paths:
  data: ./example_data/example_MEDS_data_w_labs
  tokenized: ./outputs/tokenized
  features: ./outputs/features
  # optional
  # code_mapping: ./outputs/code_mapping.pt
  # vocabulary: ./outputs/vocabulary # vocab folder
  
features:
  include_regex: '^(?!LAB).*' # example regex to exclude all features that start with 'LAB'
  values:
    value_creator_kwargs:
      num_bins: 100

tokenizer:
  sep_tokens: true
  cls_token: true

excluder:
  min_age: -1
  max_age: 120