logging:
  level: INFO
  path: ./outputs/logs

paths:
  model: "./outputs/finetuning"
  folds_dir: "./outputs/finetuning/processed_data"
  test_data_dir: "./outputs/testing/held_out/processed_data" 
  run_name: "evaluate"

  predictions: "./outputs/testing/held_out/predictions"

test_batch_size: 128

return_embeddings: True

metrics:
  roc_auc: 
    _target_: sklearn.metrics.roc_auc_score
  pr_auc: 
    _target_: sklearn.metrics.average_precision_score
  delong_roc_auc:
    _target_: corebehrt.functional.evaluation.delong.delong_roc_auc
  delong_roc_auc_std:
    _target_: corebehrt.functional.evaluation.delong.delong_roc_auc_std

save_info: 
  sequence_length: 
    _target_: corebehrt.main.helper.evaluate_finetune.get_sequence_length