logging:
  level: INFO
  path: ./outputs/logs

paths:
  data: ./example_data/example_MEDS_data_w_labs
  outcomes: ./outputs/outcomes/
  features: ./outputs/features/

outcomes:
  TEST_OUTCOME:
    type: [ code ]
    match: [ [ 'D10', 'D02' ] ]
    exclude: [ '157141000119108' ]
    match_how: startswith
    case_sensitive: true
  TEST_CENSOR:
    type: [ code ]
    match: [ [ 'M112' ] ]
    match_how: startswith
    case_sensitive: false
  TEST_COMBINED:
    combinations:
      primary:
        type: [ code ]
        match: [ [ 'D10' ] ]
        match_how: startswith
      secondary:
        type: [ code ]
        match: [ [ 'D02', 'D01' ] ]
        match_how: startswith
      # takes occurence of primary and looks for secondary within +-1000 hours
      window_hours_min: -1000
      window_hours_max: 1000
      timestamp_source: "primary" # Optional, falls back to primary if not specified
