logging:
  level: INFO
  path: ./outputs/logs

paths:
  data: ./example_data/example_MEDS_data
  patient_info: ./outputs/features/patient_info.parquet
  outcomes: ./outputs/outcomes/
  features: ./outputs/features/

outcomes:
  TEST_OUTCOME: 
    type: [code]
    match: [['D10', 'D02']]
    exclude: ['157141000119108']
    match_how: startswith
    case_sensitive: true
  TEST_CENSOR:
    type: [code]
    match: [['M112']]
    match_how: startswith
    case_sensitive: false
    
