logging:
  level: INFO
  path: ./outputs/logs

paths:
  ### Inputs
  patients_info: ./example_data/example_data_w_labs/patients_info.csv
  initial_pids: ./outputs/tokenized/pids_finetune.pt # Initial patients to select from [list of pids] (optional)
  exposure: ./outputs/outcomes/TEST_CENSOR.csv # Exposure, optional, set to outcome if not provided. For multiple exposures, create a joint exposure file.
  outcome: ./outputs/outcomes/TEST_OUTCOME.csv # Outcome

  ### Outputs
  cohort: ./outputs/cohort # Data directory

selection:
  exclude_prior_outcomes: true # Exclude patients who had the outcome before index date
  exposed_only: false # Exclude patients who are not exposed
  age:
    min_years: 18 # Minimum age to include (inclusive)
    max_years: 120 # Maximum age to include (inclusive)
  categories: # here we can include OR exclude categories
    GENDER: # column name in the data
      include: [M] # include only M/ exclude keyword can be used as well.

index_date: # if not provided we can use exposures to get the index dates
  mode: absolute # absolute or relative (to exposure)
  absolute: 
    year: 2015
    month: 1
    day: 26
  relative: # takes first exposure as index date
    n_hours_from_exposure: -24 # 24 hours before exposure

split_ratios:
  train: 0.8 
  val: 0.1 
  test: 0.1 
