logging:
  level: INFO
  path: ./outputs/logs

paths:
  ### Inputs
  good_metrics_path: ./outputs/testing/held_out/predictions/good/metrics.csv
  bad_metrics_path: ./outputs/testing/held_out/predictions/bad_on_bad/metrics.csv
